@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
}
header {
    position: fixed;
    background-color: rgba(22,3,3,0.90);
    height: 80px;
    width: 100%;
    top: 0;
    right: 0;
    border-radius: 0px 0px 5px 5px
}
#logo {
	position: relative;
	bottom: 7px;
  	height: 80px; 
  	margin-right: 20px; 
}

#logo-link {
  margin-left: 20px; 
}

#headerlinks{
	position: absolute;
	right:5px;
	top: 25px;
}

.a-header {
  color: white; 
  text-decoration: none; 
  margin-top: 7px;
  display: inline-block; 
  margin-right: 30px; 
	font-size: 20px;
}
fieldset{
	padding-left: 10px;
    margin-left: 10px;
    margin-right: 200px;
    width: 500px;
    background-color: rgba(160,82,15,0.26);
    margin-top: 100px;
    border-radius: 50px;
    box-shadow: 6px 6px 3px #000000;
}
body{
	background-image: url("../img/contactbg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
p{	
	padding: 5px;
    font-family: Brush Script MT;
    color: #1E6810;
    font-size: 30px;
    text-shadow: 3px 3px 3px #FBF8F8;
}
input:placeholder{
	font-family: roboco;
	font-style: emoji;
	font-size: 15px;
	background-color: rgba(255,255,255,0.70); 
}
input:focus{
    background-color: rgba(128,4,131,0.39);
    font-family: orbitron;
	color: white;}

#btt:hover{
    background-color: white;
    color: rgba(99,52,10,1.00);
    border: none;
	}
#btt{
    border-radius: 50px;
    padding: 10px;
    background-color: rgba(102,53,6,1.00);
    font-family: orbitron;
    cursor: pointer;
    margin: 30px 10px 0,10;
	font-family: orbitron;}
#nom,#mail{
	border: none;
	margin: 10px;
	background-color: rgba(160,82,15,0.43);
	height: 25px;
	border-radius: 6px;
}
span{
	font-size: 20px;
}
footer{
	bottom: 0px;
    position: absolute;
    width: 100%;
    height: 55px;
    background-color: rgba(22,3,3,0.90);
}
.pf {
	text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: white;
    position: absolute;
    top: 35%;
 	left: 37%;
}